/*  Form A4: 210 x 297 => 1200px x 1697px (1700px) */
/*  
    header: 100px
    content: 1500px
    footer: 100px
*/
/* Color concept: https://colorhunt.co/palette/22577a38a3a557cc9980ed99 
   #173a52, #22577A, #38A3A5, #57CC99, #80ED99
*/

/* Reset CSS */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    line-height: 1.5;
}
html{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}
body{
    margin: 0;    
    background-color: #ccc;
    padding: 16px;
    font-size: 1.25rem;

}
/* Common CSS */
.uppercase{
    text-transform: uppercase;
}
.firstline-indent{
    text-indent: 30px;
}
.margintop-16{
    margin-top: 16px;
}
.marginbottom-16{
    margin-bottom: 16px;
}

.paddingleft-16{
    padding-left: 16px;
}
.paddingleft-24{
    padding-left: 24px;
}
.paddingleft-32{
    padding-left: 32px;
}
.italic-text{
    font-style: italic;
}
.bold-text{
    font-weight: bold;
}





.main{
    --layout-width: 1200px;
    --numcolumn: 3;
    /* padding: 16px; */
    margin: auto;
    box-shadow: 0 0 16px 8px rgba(0, 0, 0, 0.3);
    max-width: var(--layout-width);
}

.content{
    --basewidth: calc(var(--layout-width) / var(--numcolumn));
    height: 1700px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(var(--numcolumn), 1fr);
    grid-template-rows: var(--basewidth) repeat(8, 1fr);
    grid-auto-flow: column;
    background-image: url(/assets/images/Background.jpg);
    /* background-size: var(--layout-width) auto; */
    background-size: cover;
}
.content-header{
    width: 100%;
    height: 50px;
    padding-left: 16px;
    background-color: #57CC99;
    display: flex;
    align-items: center;
    font-size: 24px;
    color: #173a52;
    font-weight: 600;
    text-decoration: none;
    /* text-underline-offset: 5px; */
}
.avatar-container{
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    width: 80%;
    height: 80%;
    border-radius: 50%;
    background: linear-gradient(to bottom right, #0f4163, #38A3A5, #57CC99, #80ED99 );
    margin: auto;
    box-shadow: 5px 5px 10px #38A3A5 ;
    cursor: pointer;
}
.avatar-container:hover{
    cursor: pointer;
    opacity: 0.8;
}
.avatar{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-image: url(/assets/images/Avatar.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position-x: 100%;
}
.container{
    padding: 20px;
    /* border: black solid 1px; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.objective-container{
    grid-row: 2 / span 2;
}

.objective, .skill, .reference, .education, .experience{
    width: 100%;
    height: 100%;
    padding: 16px;
    background-color: rgb(230, 230, 230);
    border-radius: 4px;
    box-shadow: 8px 8px 10px 8px #ccc;
}
.objective-text{
    display: flex;
    text-align: justify;
    font-size: 1.2rem;
}
.skill-container{
    grid-row: span 3;
}
.reference-container{
    grid-row: span 2;
}
.information-container{
    grid-row: 1 / 2;
    grid-column: 2 / 4;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.2rem;
}
.icon{
    text-align: right;
    margin-right: 8px;
    color: inherit;
}
.icon-right{
    text-align: left;
    margin-left: 8px;
    color: inherit;
}
.name{
    font-size: 48px;
    /* text-transform: uppercase; */
    color: #173a52;
    line-height: 1.5;
    text-shadow: 4px 4px 5px #38A3A5;
    font-weight: 600;
}
.lastname{
    text-transform: uppercase;
    /* opacity: 0.8; */
}
.job{
    font-size: 36px;
    /* text-transform: uppercase; */
    color: #173a52;
    /* line-height: 1.5; */
    /* text-shadow: 4px 4px 5px #38A3A5; */
    /* font-weight: 600; */
}

.address, .birthday, .phone, .email{
    display: inline-block;
    font-weight: 200;
    padding-right: 16px;
}
.basic-infor p:last-child{
    padding-right: 0;
}

.education-container{
    grid-row: 2 / 4;
    grid-column: 2 / 4;
    /* border: black solid 1px; */
}


.school, .major, .company, .dept{
    display: inline-block;
    text-decoration: none;
    color: black;
}
.school-address, .school-time, .company-address, .company-time{
    display: inline;
    float: right;
}

.school-address::after, .school-time::after, .company-address::after, .company-time::after{
    content: "";
    display: block;
    clear: both;
}

.school-result, .vtd-cource{

}

.high-school{
}
.school-result li, .vtd-cource li{
    font-size: 20px;
}

.experience-container{
    grid-row: 4 / 9;
    grid-column: 2 / 4;
    /* border: black solid 1px; */
}
.experience-text{
}

.project-item{
    list-style-type: circle;
}
.project-list a{
    text-decoration: none;
    cursor: pointer;
    color: black;
}
.job-position{
    font-style: normal;
}

.footer-container{
    grid-row: 9 / 10;
    grid-column: 1 / span 3;
    background-color: #57CC99;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}
.footer-container a{
    display: inline-block;
    color: black;
    font-size: 36px;
    width: 48px;
    text-align: center;
}
.footer-container a:hover {
    opacity: 0.6;
}
.contact{
    font-size: 1.5rem;
    line-height: 2;
}
